.slides {
  color: #fff;
  font-size: 1rem;
}
.slide {
  font-size: 1em;
}
.slide-title {
  font-size: 1.5em;
}
.slide-text {
  font-size: 1em;
}
.slide-btn {
  border: 5px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3em;
}

#slide-1 {
  background: url(public/images/bg/lg/sharp-leaf.jpg) center center no-repeat;
  background-size: cover;
}
#slide-1 > .slide-text {
  font-size: 1.3em;
  position: absolute;
  top: 15%;
  left: 2%;
}
#slide-1 > .slide-btn {
  position: absolute;
  bottom: 5%;
  margin-left: 5%;
}
#slide-1-text-1 {
  margin-left: 0;
}
#slide-1-text-2 {
  margin-left: 40%;
}
#slide-1-text-3 {
  margin-left: 80%;
}

#slide-2 {
  background: url(public/images/bg/lg/usb.jpg) center center no-repeat;
  background-size: cover;
}
#slide-2 > .slide-body {
  color: #fff;
  position: absolute;
  bottom: 0;
  max-width: 13em;
}

#slide-3 {
  background: url(public/images/bg/lg/sun.jpg) center center no-repeat;
  background-size: cover;
}
#slide-3 > .slide-body {
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  max-width: 15em;
}
#slide-3 .slide-btn {
  border-color: #000;
  color: #000;
}

#slide-2 > .slide-body,
#slide-3 > .slide-body {
  margin: 10px;
}

#slide-4 {
  background: url(public/images/bg/lg/cliff.jpg) center center no-repeat;
  background-size: cover;
}
#slide-4 .slide-title {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3em 10px;
  text-align: center;
}

@media (min-width: 576px) {
  #slide-1 > .slide-text {
    top: 18%;
    left: 45%;
  }

  #slide-2 > .slide-body {
    right: 0;
  }
}

@media (min-width: 768px) {
  .slide {
    font-size: 1.2em;
  }

  #slide-1 > .slide-text {
    top: 20%;
  }
  #slide-1 > .slide-btn {
    margin-left: 10%;
    bottom: 15%;
  }
  #slide-1-text-1 {
    margin-left: 0;
  }
  #slide-1-text-2 {
    margin-left: 50%;
  }
  #slide-1-text-3 {
    margin-left: 100%;
  }

  #slide-2 > .slide-body {
    max-width: 18em;
  }

  #slide-2 > .slide-body,
  #slide-3 > .slide-body {
    margin: 30px 15px;
  }

  #slide-3 > .slide-body {
    max-width: 15em;
  }
}

@media (min-width: 992px) {
  #slide-3 > .slide-body {
    color: #fff;
    left: 0;
    right: auto;
    text-align: left;
    text-shadow: none;
    max-width: 13em;
  }
  #slide-3 .slide-btn {
    border-color: #fff;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .slide {
    font-size: 1.3em;
  }

  #slide-1 > .slide-btn {
    margin-left: 0;
    bottom: 25%;
    right: 3%;
  }
  #slide-1 > .slide-text {
    left: 55%;
  }

  #slide-2 > .slide-body {
    max-width: 17em;
  }

  #slide-2 > .slide-body,
  #slide-3 > .slide-body {
    margin: 45px 20px;
  }

  #slide-3 > .slide-body {
    max-width: 15em;
  }
}

@media (min-width: 1600px) {
  .slide {
    font-size: 1.5em;
  }

  #slide-1 > .slide-btn {
    right: 10%;
  }
}