<div class="container-fluid slides">

  <div class="slide-wrapper navbar-offset row">
    <div class="slide text-outlined" id="slide-1">
      <div class="slide-text">
        <div id="slide-1-text-1">Biopowered</div>
        <div id="slide-1-text-2">Bioinspired</div>
        <div id="slide-1-text-3">Bioengineered</div>
      </div>
      <a class="btn btn-lg btn-transparent box-outlined slide-btn"
        routerLink="/about/overview">NuLeaf Tech</a>
    </div>
  </div>
  
  <div class="slide-wrapper navbar-offset row">
    <div class="slide text-outlined" id="slide-2">
      <div class="slide-body">
        <h1 class="font-weight-normal slide-title">
          Energy Solutions.
          <br/>
          Wastewater Innovation.
        </h1>
        <p class="slide-text">
          Servicing environmentally conscious breweries and wineries.
        </p>
        <div class="text-center">
          <a class="btn btn-lg btn-transparent box-outlined slide-btn"
            routerLink="/products/aw-pmfc">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide text-outlined-inverse text-outlined-lg" id="slide-3">
      <div class="slide-body">
        <h1 class="font-weight-normal slide-title">Bioinspired Design</h1>
        <p class="slide-text">
          Promoting sustainable lifestyles through sustainable technology.
        </p>
        <div class="text-center">
          <a class="btn btn-lg btn-transparent box-outlined-inverse box-outlined-lg slide-btn"
            routerLink="/about/biomimicry">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide text-outlined" id="slide-4">
      <h1 class="font-weight-normal slide-title">
        Growth, Innovation, and Sustainability - Better Together.
      </h1>
    </div>
  </div>
</div>