<div class="container-fluid">

  <div class="slide-wrapper navbar-offset row">
    <div class="slide"  id="slide-1">
      <div class="slide-text">
        <div id="slide-1-text-1">Biopowered</div>
        <div id="slide-1-text-2">Bioinspired</div>
        <div id="slide-1-text-3">Bioengineered</div>
      </div>
      <a class="btn btn-lg btn-transparent slide-btn" href="#">NuLeaf Tech</a>
    </div>
  </div>
  
  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-2">
      <div class="slide-body">
        <h1 class="font-weight-normal" id="slide-2-title-1">
          Energy Solutions.
          <br/>
          Wastewater Innovation.
        </h1>
        <p id="slide-2-text-1">
          Servicing environmentally conscious breweries and wineries.
        </p>
        <div class="text-center">
          <a class="btn btn-lg btn-transparent slide-btn" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-3">
      <div class="slide-body">
        <h1 class="font-weight-normal" id="slide-3-title-1">Bioinspired Design</h1>
        <p id="slide-3-text-1">
          Promoting sustainable lifestyles through sustainable technology.
        </p>
        <div class="text-center">
          <a class="btn btn-lg btn-transparent slide-btn" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-4">
      <span class="slide-text">
        <h1 id="slide-4-title-1" class="font-weight-normal">
          "Growth, Innovation, and Sustainability - Better Together."
        </h1>
      </span>
    </div>
  </div>
</div>