<div class="container-fluid">

  <div class="slide-wrapper navbar-offset row">
    <div class="slide"  id="slide-1">
      <div class="slide-text">
        <h1 id="slide-1-text-1" class="font-weight-normal">Biopowered,</h1>
        <h1 id="slide-1-text-2" class="font-weight-normal">Bioinspired,</h1>
        <h1 id="slide-1-text-3" class="font-weight-normal">Bioengineered.</h1>
      </div>
      <a class="btn btn-primary btn-lg btn-transparent slide-btn" href="#">NuLeaf Tech</a>
    </div>
  </div>
  
  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-2">
      <div class="slide-body p-3 pb-lg-5">
        <div class="slide-text">
          <h1 class="display-4 mb-4 text-uppercase">Microbial Fuel&nbsp;Cell</h1>
          <p id="slide-2-text-1" class="lead">
            Microbial fuel cells are a new technology with the dual function of treating wastewater and producing electricity.
          </p>
        </div>
        <div class="slide-btn-wrapper">
          <a class="btn btn-lg btn-transparent slide-btn" href="#">Find out more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-3">
      <div class="slide-body p-3">
        <div class="slide-text">
          <h1 class="display-4 mb-4 text-uppercase">Biomimicry</h1>
          <p id="slide-3-text-1" class="lead">
            For businesses, biomimicry is about bringing a new discipline - biology - to the design table. It's not to write an environmental impact statement, as most biologists in business do right now.
          </p>
        </div>
        <div class="slide-btn-wrapper">
          <a class="btn btn-lg btn-transparent slide-btn" href="#">Find out more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-4">
      <span class="slide-text p-3 pb-5">
        <h1 id="slide-4-title-1" class="display-4">"There are literally as many ideas as there are organisms."</h1>
      </span>
    </div>
  </div>
</div>