<div class="container-fluid">
  <div class="slide-wrapper navbar-offset row">
    <div id="slide-1" class="slide">
      <h1 class="slide-title font-weight-normal text-uppercase">Biomimicry</h1>
      <div class="slide-text-wrapper">
        <span class="d-inline-block slide-text">
          Nature has already given us the tools for a sustainable future.
        </span>
      </div>
    </div>
  </div>

  <div class="row d-flex flex-row justify-content-around" id="slide-2">
    <h1 class="w-100 font-weight-normal slide-title">Nature as a...</h1>
      <div id="img-panel-1" class="img-panel">
        <div class="overlay">
          <h2 class="font-weight-bold title text-uppercase">Model</h2>
          <p class="text">
            Emulating nature’s strategies to solve human problems
          </p>
        </div>
      </div>

      <div id="img-panel-2" class="img-panel">
        <div class="overlay">
          <h2 class="font-weight-bold title text-uppercase">Measure</h2>
          <p class="text">
            Finding what works, what is appropriate, and what lasts
          </p>
        </div>
      </div>

      <div id="img-panel-3" class="img-panel">
        <div class="overlay">
          <h2 class="font-weight-bold title text-uppercase">Mentor</h2>
          <p class="text">
            Learning from and respecting nature, not extracting
          </p>
        </div>
      </div>
  </div>
  
  <div id="slide-3" class="row">
    <div>
      <h3 class="slide-title">What is Biomimicry and Bioinspired Design?</h3>
      <p class="slide-text">
        Biomimicry looks to nature for technological inspiration. It emulates nature’s forms, processes, and ecosystems for sustainable designs.
      </p>
      <p class="slide-text">
        Bioinspired design uses human creativity to refine nature’s strategies for a specific application.
      </p>
    </div>

    <div>
      <h3 class="slide-title">Why use Biomimicry?</h3>
      <p class="slide-text">
        For nearly any problem humanity faces, nature has 3.8 billion years of experience in solving it. To date, we have created technology based on human cleverness alone. Life has more elegant solutions at less cost to the planet.
      </p>
      <p class="slide-text">
        Nature builds safe and reliable materials with eco-friendly processes. Life creates solutions that recycle resources while remaining cost effective and energy efficient. These solutions are self-reliant, interconnected, and built to last
      </p>
    </div>

    <div>
      <h3 class="slide-title">NuLeaf and Bioinspired Design</h3>
      <p class="slide-text">
        By looking to nature first, we seek to create wildlife habitats or gardens that are both functional and beautiful. We personalize wastewater treatment while promoting resource and energy independence. By creating biomimetic devices, our products show that sustainability, innovation, and economic growth can be achieved simultaneously.
      </p>
    </div>

    <div id="slide-4">
      <h3 class="slide-title">Want to Know More?</h3>
      <div>
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-2 resource-box">
            <a target="_blank" href="https://biomimicry.net/">
              <img class="img-fluid resource-logo" src="public/images/logos/biomimicry.png" />
            </a>
          </div>
          <div class="pt-3 col-sm-7 offset-sm-1 col-md-8 col-lg-9">
            <h4 class="resource-link">
              <a target="_blank" href="https://biomimicry.net/">
                Biomimicry 3.8
              </a>
            </h4>
            <p class="slide-text">
              Provides consulting, training and curricula development in the field of biomimicry.
            </p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-sm-4 col-md-3 col-lg-2 resource-box">
            <a target="_blank" href="https://asknature.org/">
              <img class="img-fluid resource-logo" src="public/images/logos/ask-nature.png" />
            </a>
          </div>
          <div class="pt-3 col-sm-7 offset-sm-1 col-md-8 col-lg-9">
            <h4 class="resource-link">
              <a target="_blank" href="https://asknature.org/">
                AskNature.org
              </a>
            </h4>
            <p class="slide-text">
              Find biological strategies and inspired ideas to emulate time-tested forms, processes, and systems.
            </p>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-sm-4 col-md-3 col-lg-2 resource-box">
            <a target="_blank" href="https://www.terrapinbrightgreen.com/tapping-into-nature/">
              <img class="img-fluid resource-logo" src="public/images/logos/terrapin.png" />
            </a>
          </div>
          <div class="pt-3 col-sm-7 offset-sm-1 col-md-8 col-lg-9">
            <h4 class="resource-link">
              <a target="_blank" href="https://www.terrapinbrightgreen.com/tapping-into-nature/">
                Terrapin Bright Green
              </a>
            </h4>
            <p class="slide-text">
              Innovative companies are abstracting strategies from the natural world to develop truly transformative technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>