#slide-1 {
  background: url(public/images/bg/lg/snail.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
}
#slide-1 > .slide-title {
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 3%;
}
#slide-1 > .slide-text-wrapper {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 15px;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
}
#slide-1 .slide-text {
  max-width: 175px;
}

#slide-2 {
  padding: 60px 15px;
}
#slide-2 > .slide-title {
  font-size: 2rem;
}
.img-panel {
  height: 350px;
  width: 250px;
  margin: 10px;
  position: relative;
}
#img-panel-1 {
  background: url(public/images/sm/leaf.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-2 {
  background: url(public/images/sm/insect-hotel.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-3 {
  background: url(public/images/sm/winter-flower.jpg) center center no-repeat;
  background-size: cover
}
.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 15px 0 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#slide-3 {
  background: url(public/images/bg/lg/purple-long.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 15px;
}

#slide-4 > .slide-title {
  margin-bottom: 15px;
}

.resource-logo {
  max-width: 200px; 
}
.resource-link > a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 576px) {
  #slide-1 > .slide-title {
    top: 10%;
    left: 16%;
  }
  #slide-1 > .slide-text-wrapper {
    top: 35%;
  }

  .img-panel {
    height: 225px;
    width: 365px;
  }
  #slide-2 > .slide-title {
    text-align: center;
  }

  .resource-box {
    text-align: right;
  }
}

@media (min-width: 768px) {
  #slide-1 {
    color: #000;
  }
  #slide-1 > .slide-title {
    font-size: 2rem;
    top: 25%;
    left: 15%;
  }
  #slide-1 > .slide-text-wrapper {
    font-weight: 300;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    text-align: left;
  }
  #slide-1 .slide-text {
    max-width: 13rem;
  }

  .img-panel {
    height: 365px;
    width: 225px;
  }
  .img-panel .text {
    font-size: 1.2rem;
  }
  .img-panel .title {
    font-size: 2rem;
  }
  #slide-2 > .slide-title {
    font-size: 2.2rem;
    text-align: left;
  }

  #slide-3 {
    padding: 30px;
  }
  #slide-3 .slide-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  #slide-3 .slide-text {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  #slide-1 > .slide-title {
    font-size: 3rem;
    font-weight: 400;
    top: 18%;
    left: 18%;
  }
  #slide-1 > .slide-text-wrapper {
    font-size: 1.2rem;
  }
  #slide-1 .slide-text {
    max-width: 20rem;
  }

  .img-panel {
    width: 265px;
  }
  .img-panel .text {
    font-size: 1.3rem;
  }
  .img-panel .title {
    font-size: 2.2rem;
  }
  .img-panel:hover .text {
    max-height: 400px;
  }
  .overlay > .text {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }
  #slide-2 > .slide-title {
    font-size: 2.2rem;
    text-align: left;
  }

  #slide-3 {
    padding: 60px 10%;
  }
  #slide-3 .slide-title {
    margin-bottom: 20px;
  }
  #slide-3 .slide-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .img-panel .text {
    font-size: 1.4rem;
  }
  .img-panel .title {
    font-size: 2.4rem;
  }
  #slide-2 > .slide-title {
    font-size: 2.6rem;
    margin-left: 5%;
  }

  #slide-3 {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 1600px) {
}
