<div class="container-fluid">
  <div id="slide-1" class="slide row">
    <h1 class="title">Biomimicry</h1>
    <p class="text">
      Nature has already given us the tools for a sustainable future.
    </p>
  </div>

  <div id="slide-2">
    <div class="row">
      <div class="col-md-4 image-panel-wrapper">
        <div id="image-panel-1" class="image-panel">
          <div class="overlay">
            <h1 class="title text-uppercase">Model</h1>
            <p class="text">
              Emulating nature’s strategies to solve human problems
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 image-panel-wrapper">
        <div id="image-panel-2" class="image-panel">
          <div class="overlay">
            <h1 class="title text-uppercase">Measure</h1>
            <p class="text">
              Finding what works, what is appropriate, and what lasts
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 image-panel-wrapper">
        <div id="image-panel-3" class="image-panel">
          <div class="overlay">
            <h1 class="title text-uppercase">Mentor</h1>
            <p class="text">
              Learning from and respecting nature, not extracting
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="slide-3" class="row">
    <div class="container">
      <div>
        <h3>What is Biomimicry and Bioinspired Design?</h3>
        <p>
          Biomimicry looks to nature for technological inspiration. It emulates nature’s forms, processes, and ecosystems for sustainable designs.
        </p>
      </div>

      <div>
        <h3>Why use Biomimicry?</h3>
        <p>
          For nearly any problem humanity faces, nature has 3.8 billion years of experience in solving it. To date, we have created technology based on human cleverness alone. Life has more elegant solutions at less cost to the planet.
        </p>
        <p>
          Nature builds safe and reliable materials with eco-friendly processes. Life creates solutions that recycle resources while remaining cost effective and energy efficient. These solutions are self-reliant, interconnected, and built to last
        </p>
      </div>

      <div>
        <h3>NuLeaf and Bioinspired Design</h3>
        <p>
          By looking to nature first, we seek to create wildlife habitats or gardens that are both functional and beautiful. We personalize wastewater treatment while promoting resource and energy independence. By creating biomimetic devices, our products show that sustainability, innovation, and economic growth can be achieved simultaneously.
        </p>
      </div>

      <div>
        <h3>Want to Know More?</h3>
        <div>
          <div class="row external-resource">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <a class="img-responsive" target="_blank" href="https://biomimicry.net/">
                <img class="resource-logo" src="public/images/logos/ask-nature.jpg" />
              </a>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
              <h5>Biomimicry 3.8</h5>
              Provides consulting, training and curricula development in the field of biomimicry.
            </div>
          </div>

          <div class="row external-resource">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <a class="img-responsive" target="_blank" href="https://asknature.org/">
                <img class="resource-logo" src="public/images/logos/ask-nature.jpg" />
              </a>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
              <h5>AskNature.org</h5>
              Find biological strategies and inspired ideas so you can emulate time-tested forms, processes, and systems.
            </div>
          </div>

          <div class="row external-resource">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <a class="img-responsive" target="_blank" href="https://www.terrapinbrightgreen.com/tapping-into-nature/">
                <img class="resource-logo" src="public/images/logos/ask-nature.jpg" />
              </a>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
              <h5>Terrapin Bright Green</h5>
              Innovative companies are abstracting strategies from the natural world to develop truly transformative technologies.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>