#slide-1 {
  background: url(public/images/bg/lg/snail.jpg) center center no-repeat;
  background-size: cover;
}
#slide-1 > .slide-title {
  font-weight: 500;
  padding-top: 30vh;
  padding-left: 5%;
}
#slide-1 > .slide-text {
  font-weight: 400;
  padding-top: 5px;
  padding-left: 25%;
  width: 75%;
}

#slide-2 {
  margin: 100px 0;
}
.img-panel {
  height: 400px;
  width: 350px;
  position: relative;
}
#img-panel-1 {
  background: url(public/images/sm/leaf.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-2 {
  background: url(public/images/sm/insect-hotel.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-3 {
  background: url(public/images/sm/winter-flower.jpg) center center no-repeat;
  background-size: cover
}
.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#slide-2 > .slide-text {
  padding-left: 3%;
}

#slide-3 {
  background: url(public/images/bg/lg/purple-long.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
}
.resource-logo {
  max-width: 200px; 
}
.resource-link > a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 576px) {
  #slide-1 > .slide-title {
    padding-left: 10%;
  }
  #slide-1 > .slide-text {
    padding-left: 30%;
    width: 70%;
  }
}

@media (min-width: 768px) {
  #slide-1 > .slide-title {
    padding-left: 15%;
    padding-top: 18vh;
  }
  #slide-1 > .slide-text {
    padding-left: 33%;
    padding-top: 75px;
    width: 68%;
  }
}

@media (min-width: 992px) {
  #slide-1 > .slide-text {
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
  }

  .overlay > .text {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }
  .img-panel:hover .text {
    max-height: 400px;
  }
}

@media (min-width: 1200px) {
  #slide-1 > .slide-title {
    padding-left: 20%;
  }
  #slide-1 > .slide-text {
    width: 25%;
  }
}

@media (min-width: 1600px) {
  #slide-1 > .slide-text {
    width: 22%;
  }
}
