.slides {
  font-size: 1rem;
}
.slide {
  font-size: 1em;
}
.slide-title,
.overlay > .title {
  font-size: 2em;
}
.slide-text,
.overlay > .text {
  font-size: 1em;
}

#slide-1 {
  background: url(public/images/bg/lg/snail.jpg) center center no-repeat;
  background-size: cover;
}
#slide-1 > .slide-title {
  font-size: 3em;
  font-weight: 500;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
}
#slide-1 > .slide-text-wrapper {
  font-size: 1.1em;
  font-weight: 400;
  margin: 10px;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
}
#slide-1 .slide-text {
  max-width: 10em;
}

#slide-2 {
  padding: 60px 15px;
}
.img-panel {
  height: 350px;
  width: 250px;
  margin: 10px;
  position: relative;
}
#img-panel-1 {
  background: url(public/images/sm/leaf.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-2 {
  background: url(public/images/sm/insect-hotel.jpg) center center no-repeat;
  background-size: cover
}
#img-panel-3 {
  background: url(public/images/sm/winter-flower.jpg) center center no-repeat;
  background-size: cover
}
.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 15px 0 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#slide-3 {
  background: url(public/images/bg/lg/purple-long.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1em;
}
#slide-3 > .slide-body {
  max-width: 53em;
}
#slide-3 .slide-title {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#slide-3 .slide-text {
  font-size: 1.3em;
}

.resource-logo {
  max-width: 200px; 
}
.resource-link > a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 576px) {
  #slide-1 > .slide-title {
    top: 10%;
  }
  #slide-1 > .slide-text-wrapper {
    top: 30%;
  }

  .img-panel {
    height: 225px;
    width: 365px;
  }
  #slide-2 > .slide-title {
    text-align: center;
  }

  .resource-box {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .slide {
    font-size: 1.2em;
  }

  #slide-1 > .slide-title {
    top: 20%;
    left: 1%;
    right: auto;
  }
  #slide-1 > .slide-text-wrapper {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    text-align: left;
  }

  .img-panel {
    height: 365px;
    width: 225px;
  }
  #slide-2 > .slide-title {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #slide-1 > .slide-title {
    top: 23%;
    left: 5%;
  }
  #slide-1 .slide-text {
    max-width: 14em;
  }

  .img-panel {
    width: 265px;
  }
  .img-panel:hover .text {
    max-height: 400px;
  }
  .overlay > .text {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s ease-out;
    transition: max-height 1s ease-out;
  }
  #slide-2 > .slide-title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .slide {
    font-size: 1.3em;
  }

  #slide-1 > .slide-title {
    left: 12%;
  }
  #slide-1 .slide-text {
    max-width: 17em;
  }

  #slide-2 > .slide-title {
    margin-left: 5%;
  }

  #slide-3 {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

@media (min-width: 1600px) {
  #slide-1 > .slide-title {
    top: 13%;
    left: 23%;
  }
  #slide-1 > .slide-text-wrapper {
    margin-bottom: 50px;
  }
}
