<div class="container-fluid slides">
  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-1">
      <h1 class="slide-title font-weight-normal">
        A&nbsp;multifunctional solar cell made of organic materials and based on a wasp.
      </h1>
    </div>
  </div>

  <div class="slide-wrapper-md navbar-offset row">
    <div class="slide w-100 d-flex flex-row justify-content-center align-items-center" id="slide-2">
      <div class="slide-body">
        <h1 class="slide-title font-weight-normal">Biosolar Research and Development</h1>
        <p class="slide-text">
          Our solar cell is a bioinspired design based on the photoconductive and electrical properties of certain hornet species. In nature, this living solar cell is made of chitin, the second most abundant biopolymer on Earth. Our solar cell will likely be made of chitosan, a derivative of chitin that is easier to work with, as well as natural photosynthetic dyes and compounds found in these hornets.
        </p>
        <p class="slide-text">
          Although solar technology is a staple for renewable energy, solar cell manufacturing is a serious issue in making solar actually sustainable. Current methods are highly expensive due to the energy required and the toxic materials used. Our cells aim to be low-cost, easy to maintain and replace, and made of biofriendly nontoxic materials.
        </p>
      </div>
    </div>
  </div>
</div>