.slides {
  font-size: 1rem;
}
.slide {
  font-size: 1em;
}
.slide-title {
  font-size: 1.4em;
}

#slide-1 {
  background: url(public/images/bg/lg/mountain.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 15px;
}
#slide-1> .slide-title {
  max-width: 25em;
}

#slide-2 {
  background: url(public/images/bg/lg/purple-half.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 15px;
}
#slide-2 > .slide-body {
  max-width: 50em; 
}
#slide-2 .slide-title {
  margin-bottom: 1em;
}


@media (min-width: 768px) {
  .slide {
    font-size: 1.1em;
  }

  #slide-1 {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .slide {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  .slide {
    font-size: 1.3em;
  }

  #slide-1 {
    padding-top: 80px;
  }
}

@media (min-width: 1600px) {
  .slide {
    font-size: 1.4em;
  }
}