<div class="container-fluid">
  <div class="row text-center" id="slide-1">
    <div class="col-xs-12 w-100 my-3">
      <h1 class="slide-title font-weight-normal">Meet Our Team</h1>
    </div>

    <div class="col-md-6">
      <div class="container plaque mx-auto">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="plaque-img-wrapper">
              <img class="plaque-img img-fluid" src="public/images/users/rachel.png" />
              <div class="overlay d-flex flex-column justify-content-around">
                <p class="plaque-img-caption">
                  Rachel has degrees in Biology, Chemistry, and Business. She has a deep passion for connecting sustainable technology and bioinspired design with creative engineering. In her spare time she hikes, reads, and bakes.
                </p>
              </div>
            </div>
          </div>

          <hr class="divider" />
            
          <div class="col-sm-6 col-md-12">
            <div class="plaque-caption h-100 d-sm-flex flex-sm-column justify-content-sm-center">
              <h3 class="plaque-name font-weight-normal">Rachel Major</h3>
              <h4 class="plaque-title font-weight-normal">CEO and Co-founder</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="container plaque mx-auto">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="plaque-img-wrapper">
              <img class="plaque-img img-fluid" src="public/images/users/ari.png" />
              <div class="overlay d-flex flex-column justify-content-around">
                <p class="plaque-img-caption">
                  Ari studied Biology and is particularly interested in Biochemistry. He is interested in the sustainable distribution and management of essential resources. His hobbies include playing piano and traveling.
                </p>
              </div>
            </div>
          </div>

          <hr class="divider" />
            
          <div class="col-sm-6 col-md-12">
            <div class="plaque-caption h-100 d-sm-flex flex-sm-column justify-content-sm-center">
              <h3 class="plaque-name font-weight-normal">Ari Ochoa</h3>
              <h4 class="plaque-title font-weight-normal">CTO and Co-founder</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="slide-2">
    <div class="col-md-6 text-center">
      <div class="container plaque mx-auto">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="plaque-img-wrapper">
              <img class="plaque-img img-fluid" src="public/images/users/katie.png" />
              <div class="overlay d-flex flex-column justify-content-around">
                <p class="plaque-img-caption">
                  Kate has degrees in Economics and Math. She plans on pursuing an MBA and a Master's in Business Analytics. Kate is working at NuLeaf because she believes that economic and social betterment occur through the creation of green technologies. 
                </p>
              </div>
            </div>
          </div>

          <hr class="divider" />
            
          <div class="col-sm-6 col-md-12">
            <div class="plaque-caption h-100 d-sm-flex flex-sm-column justify-content-sm-center">
              <h3 class="plaque-name font-weight-normal">Kate Moran</h3>
              <h4 class="plaque-title font-weight-normal">Chief Business Analyst</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="container plaque mx-auto">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="plaque-img-wrapper">
              <img class="plaque-img img-fluid" src="public/images/users/chris.png" />
              <div class="overlay d-flex flex-column justify-content-around">
                <p class="plaque-img-caption">
                  Chris has been working in the field of synthetic biology since 2011. His degree is in Biochemistry and Molecular Biology. In his spare time he likes taking things apart, and sometimes putting them back together.
                </p>
              </div>
            </div>
          </div>

          <hr class="divider" />
            
          <div class="col-sm-6 col-md-12">
            <div class="plaque-caption h-100 d-sm-flex flex-sm-column justify-content-sm-center">
              <h3 class="plaque-name font-weight-normal">Chris Venter</h3>
              <h4 class="plaque-title font-weight-normal">Lab Manager</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12" id="slide-2-p-2">
      <h1 class="">Volunteers</h1>
      <hr class="divider d-inline-block" />
      <span class="clearfix"></span>
      <h4>Ronnie Miller</h4>
      <p class="">
        Ronnie is at Foothill College studying Mathematics, Environmental Science, and Economics. Ronnie is passionate about the earth and environment and has a personal goal to expand community involvement in conservation. Her hobbies are astronomy and journalism.
      </p>

      <h4>Roslyn Axtell</h4>
      <p class="">
        Roslyn is a student at Foothill College studying math and computer science. She hopes to double major in those fields and pursue an MBA. Roslyn is passionate about TV, building relationships, and helping others. 
      </p>

      <h4>Olga Namsaraeva</h4>
      <p class="">
        Olga is a student at Foothill College. She has a biology degree from UCSC and is pursuing a Masters in biomedical engineering. Olga likes reading, snowboarding, and succulents.
      </p>

      <h4>Alessandro Rupp</h4>
      <p class="">
        Alessandro is currently a Materials Science/Chemical Engineering student at Foothill College. He is passionate about chemistry and nanoscience. His hobbies include practicing soccer and playing loud music. 
      </p>

      <h4>Danielle Bisbee</h4>
      <p class="">
        Danielle is currently studying bioengineering at Foothill College and is hoping to receive a PhD in biology eventually. She enjoys horseback riding, animals, hiking, and traveling. She is passionate about sustainability and creating a greener world.
      </p>
    </div>
  </div>
</div>