.plaque {
  margin: 15px 0;
}
.plaque-img-wrapper {
  max-width: 275px;
  margin: 0 auto;
  position: relative;
}
.plaque-img-caption {
  margin: 0;
}
.plaque:hover .overlay {
  opacity: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 500px;
  font-size: 0.8rem;
  opacity: 0;
  overflow: hidden;
  padding: 35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; 
}
.divider {
  border-color: #fff;
  width: 50px;
}
.plaque-name {
  font-size: 1.3rem;
}
.plaque-title {
  font-size: 1.2rem;
}

#slide-1 {
  background: url(public/images/bg/lg/fuji.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0;
}

#slide-2 {
  background: url(public/images/bg/lg/purple-long.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0;
}

#slide-2-p-2 {
  padding: 60px 15px 15px 15px;
}
#slide-2-p-2 .divider {
  width: 5rem;
  margin: 0.5rem 0;
}

@media (min-width: 576px) and (max-width: 767px) {
  .divider {
    display: none;
  }
}

@media (min-width: 768px) {
  #slide-1 {
    padding-top: 75px;
  }

  #slide-2 {
    padding: 60px 0;
  }

  #slide-2-p-2 {
    padding: 100px 5% 15px 5%;
  }
}

@media (min-width: 1200px) {
  #slide-1 .slide-title {
    font-size: 3rem;
  }

  .plaque {
    padding: 25px 0 50px 0;
  }
  .plaque-img-wrapper {
    max-width: 350px;
  }
  .plaque-name {
    font-size: 1.5rem;
  }
  .plaque-title {
    font-size: 1.4rem;
  }
  .overlay {
    font-size: 1rem;
  }
  .divider {
    width: 10%;
  }

  #slide-2-p-2 {
    padding: 100px 10% 15px 10%;
  }
}