.box {
  position: relative;
}
.box-image {
  max-height: 400px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 500px;
  margin: 0 auto;
  padding: 0 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 400px;
  max-width: 400px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; 
}
.box:hover > .overlay {
  opacity: 1;
}

#slide-1 {
  background: #555;
  color: #fff;
}
.divider {
  border-color: #fff;
  width: 20%;
}

#slide-2 {
  background: url(public/images/bg/lg/purple-long.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
}
#slide-2-p-2 {
  padding: 0 5%;
}
#slide-2-p-2 hr {
  border-color: #fff;
  float: left;
  margin-top: 0;
  width: 8rem;
}

@media (min-width: 1200px) {
  .divider {
    width: 10%;
  }
}