<nav
  class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded navbar-themed">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/">NuLeaf</a>

  <div class="collapse navbar-collapse text-uppercase" id="navbar">
    <div class="navbar-nav ml-auto">
      <ng-template ngFor let-nav [ngForOf]="navs">

        <ng-template [ngIf]="nav.sublinks">
          <li class="nav-item dropdown hidden-md-up" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ nav.text }}
            </a>
            <div class="dropdown-menu">
              <a *ngFor="let link of nav.sublinks"
                class="dropdown-item" href="#"
                routerLinkActive="active" [routerLink]="link.link">
                {{ link.text }}
              </a>
            </div>
          </li>
        </ng-template>

        <li *ngIf="nav.sublinks" class="nav-item" routerLinkActive="active">
          <a href="#"
            class="nav-item nav-link hidden-sm-down px-md-4 px-xl-5"
            (click)="activeNav = activeNav === nav ? null : nav; false;">
            {{ nav.text }}
          </a>
          <a *ngFor="let link of nav.sublinks"
            class="hidden" [routerLink]="link.link"></a>
        </li>

        <a *ngIf="!nav.sublinks" class="nav-item nav-link px-md-4 px-xl-5"
          (click)="activeNav = null"
          routerLinkActive="active" [routerLink]="nav.link">{{ nav.text }}</a>
      </ng-template>
    </div>
  </div>
</nav>


<nav *ngIf="activeNav" [@slideInOut]="true"
  class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse subnavbar hidden-sm-down">
  <div class="navbar-collapse text-capitalize">
    <div class="navbar-nav mx-auto">
      <a *ngFor="let link of activeNav.sublinks" [@fadeInOut]="true"
        class="nav-item nav-link px-md-4 px-lg-5"
        routerLinkActive="active" [routerLink]="link.link"
        (click)="activeNav = null">{{ link.text }}</a>
    </div>
  </div>
</nav>