<div class="container-fluid">
  <div class="py-3 py-md-4 row" id="footer">
    <div class="col">
      <div class="">
        <h4 class="text-uppercase">Join us today</h4>
        <p>
           NuLeaf Tech is a bioinspired start up. Our artificial wetland and plant microbial fuel cell come together to create a functional park that treats wastewater and creates electricity.
        </p>
        <p>
          <a href="#" class="btn btn-primary btn-transparent btn-lg theme-btn py-1 px-4 text-uppercase">Contact</a>
        </p>
      </div>

      <div class="text-right">
        <a class="social-icon mr-3" href="#">
          <i class="fa fa-3x fa-envelope-open-o"></i>
        </a>
        <a class="social-icon mx-3" href="#">
          <i class="fa fa-3x fa-facebook-square"></i>
        </a>
        <a class="social-icon mx-3" href="#">
          <i class="fa fa-3x fa-instagram"></i>
        </a>
        <a class="social-icon ml-3" href="#">
          <i class="fa fa-3x fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>