<footer>
  <div class="row">

    <!-- BEGIN EMBEDDED MAP -->
    <div class="col-sm-3 footer-box">
      <h4 class="text-uppercase">Location</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.186366052025!2d-122.06601398451534!3d37.40906967982777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb765aa824165%3A0x15bc65e03fbb45b5!2sNASA+Ames+Research+Center!5e0!3m2!1sen!2sus!4v1473544331645" height="200" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- END EMBEDDED MAP -->
    
    <!-- BEGIN INFO -->
    <div class="col-sm-5 footer-box">
      <h4 class="text-uppercase">Join us today</h4>
      <span>
         NuLEAF Technologies is a student-led engineering research organization dedicated to interdisciplinary science, biomimicry, and sustainability. We create bio-inspired solutions for a renewable energy future while building practical skills in the next generation of sustainable engineers.
      </span>
    </div>
    <!-- END INFO -->

    <!-- BEGIN SOCIAL ICONS -->
    <div class="col-sm-4 footer-box">
      <h4 class="text-uppercase">See what we're up to</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-social">
          <i class="fa fa-facebook"></i>
        </button>
        <button type="button" class="btn btn-default btn-social">
          <i class="fa fa-twitter"></i>
        </button>
        <button type="button" class="btn btn-default btn-social">
          <i class="fa fa-envelope-o"></i>
        </button>
        <button type="button" class="btn btn-default btn-social">
          <i class="fa fa-instagram"></i>
        </button>
      </div>
      <hr />
      <div>
        <button type="button" class="btn btn-default btn-contact text-uppercase">
          Contact us
        </button>
      </div>
    </div>
    <!-- END SOCIAL ICONS -->

  </div>
  <div class="row copyright">
    Copyright @ 2016 NuLEAF Technologies<br />
    <a href="#">nuleaftech.com</a>
  </div>
</footer>