#footer {
  background-color: #383838;
  color: #fff;
}
.footer-text {
  max-width: 47rem;
}

.theme-btn {
  border: 4px solid #fff;
  border-radius: 50px;
}

.social-icon {
  color: #fff;
  text-decoration: none;
}
.social-icon:hover {
  color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 992px) {
  #footer {
    background: url('public/images/bg/lg/leaf-dew.jpg') right bottom no-repeat;
    background-size: cover;
  }
}