#footer {
  background-color: #383838;
  color: #fff;
}
.theme-btn {
  border: 4px solid #fff;
  border-radius: 50px;
}

.social-icon {
  color: #fff;
  text-decoration: none;
}
.social-icon:hover {
  color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 992px) {
  #footer {
    background: url('public/images/bg/lg/leaf-dew.jpg') center center no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  #footer {
    padding-left: 7%;
    padding-right: 7%;
  }
}