<div class="container-fluid">
  <div class="py-3 py-md-4 row" id="footer">
    <div class="col">
      <div class="footer-text">
        <h4 class="text-uppercase">Join us today</h4>
        <p>
           NuLeaf Tech is a bioinspired start up. Our artificial wetland and plant microbial fuel cell come together to create a functional park that treats wastewater and creates electricity.
        </p>
      </div>

      <div class="d-inline-block mb-3 mr-3">
        <a href="#" class="btn btn-primary btn-transparent btn-lg theme-btn py-1 px-4 text-uppercase">Contact</a>
      </div>

      <div class="pull-right text-center">
        <a class="social-icon" href="#">
          <i class="fa fa-3x fa-envelope-open-o"></i>
        </a>
        <a class="social-icon mx-4" href="https://www.facebook.com/nuleaftech/">
          <i class="fa fa-3x fa-facebook-square"></i>
        </a>
        <a class="social-icon mr-4" href="#">
          <i class="fa fa-3x fa-instagram"></i>
        </a>
        <a class="social-icon" href="https://twitter.com/nuleaf_tech/">
          <i class="fa fa-3x fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>