<div class="container-fluid">
  <div class="slide-wrapper navbar-offset row">
    <div class="slide p-4" id="slide-1">
      <div class="slide-panel p-4">
        <h3 class="font-weight-normal">Contact Us.</h3>
        <form>
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" />
          </div>

          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" name="email" />
          </div>

          <div class="form-group">
            <label>Website</label>
            <input class="form-control" type="url" name="website" />
          </div>

          <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" name="comment" rows="7"></textarea>
          </div>

          <button id="submit-btn" type="submit" class="btn btn-primary text-uppercase">
            Submit
          </button>
        </form>

        <span class="clearfix"></span>

        <div id="social-btns" class="text-center mt-4">
          <h3>Stay Connected.</h3>
          <div class="mt-4">
            <a class="social-icon mr-1" href="https://twitter.com/nuleaf_tech/">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>

            <a class="social-icon mx-1" href="#">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>
            <a class="social-icon mx-1" href="https://www.facebook.com/nuleaftech/">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>
            </a>
            <a class="social-icon ml-1" href="#">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>