<!-- BEGIN STEMINARS LIST -->
<div class="row">

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Digital Photonic Production with Lasers</h3>
    <div class="steminar-img">
      <img src="/public/images/Silke.jpg" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">May 27th, 2PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Lasers in Material Processing</h3>
    <div class="steminar-img">
      <img src="/public/images/JeanPhilippeLavoie.jpg" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">May 20th, 12PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Artificial Photosynthesis</h3>
    <div class="steminar-img">
      <img src="/public/images/FrankOsterloh.png" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">May 13th, 12PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Open Sesame: The Story of Seeds</h3>
    <div class="steminar-img">
      <img src="/public/images/VictoriaArmigo.png" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">April 29th, 12PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Thermoelectric Effects on R.E.</h3>
    <div class="steminar-img">
      <img src="/public/images/MikeKorzina.jpg" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">April 15th, 12PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>

  <div class="col-sm-6 steminar">
    <h3 class="text-capitalize">Basics of Genetics</h3>
    <div class="steminar-img">
      <img src="/public/images/ZealPanchal.jpg" class="img-rounded" />
    </div>
    <div class="steminar-body">
      <div class="datetime">March 4th, 2PM</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non dui diam. Vivamus tempor, felis accumsan accumsan interdum, magna lacus rutrum nunc, vel rhoncus tellus lectus a nunc. Sed dapibus justo ut metus hendrerit, vel placerat risus venenatis. Suspendisse vehicula volutpat turpis.
      </p>
      <p>
        <a href="#">Find out more
          <i class="fa fa-chevron-circle-right"></i>
        </a>
      </p>
    </div>
  </div>

</div>
<!-- END STEMINARS LIST -->