.slide-wrapper {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.slide-wrapper.navbar-offset {
  padding-top: 54px;
  margin-bottom: -54px;
}
.slide {
  position: relative;
  height: 100%;
  width: 100%;
}
.slide-wrapper.navbar-offset > .slide {
  margin-top: -54px;
}

.btn-transparent {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.2s, border-color 0.3s;
  -moz-transition: background-color 0.2s, border-color 0.3s;
  -o-transition: background-color 0.2s, border-color 0.3s;
  transition: background-color 0.2s, border-color 0.3s;
}
.btn-transparent:after {
  font-family: FontAwesome;
  content: '\f105';
  margin-left: -30px;
  opacity: 0;
  position: absolute;
  -webkit-transition: margin 0.2s, opacity 0.2s;
  -moz-transition: margin 0.2s, opacity 0.2s;
  -o-transition: margin 0.2s, opacity 0.2s;
  transition: margin 0.2s, opacity 0.2s;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent !important;
}
.btn-transparent:hover:after {
  opacity: 1;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .slide-wrapper-md {
    height: 100vh;
    overflow-y: auto;
    position: relative;
  }

  .slide-wrapper.navbar-offset,
  .slide-wrapper-md.navbar-offset {
    padding-top: 76px;
    margin-bottom: -76px;
  }
  .slide-wrapper.navbar-offset > .slide,
  .slide-wrapper-md.navbar-offset > .slide {
    margin-top: -76px;
  }
}