<div class="container-fluid">
  <div class="row px-5 text-center">
    <div class="col-lg-6 col-xl-5">
      <div class="slide-wrapper navbar-offset">
        <div class="slide" id="slide-1">
          <img class="img-fluid box-image" src="public/images/sm/globe.png" />
          <h1 class="display-4 py-4 text-uppercase">Our Mission</h1>
          <p class="lead slide-text">
            Designing naturally integrated water and energy solutions that reclaim resources on site.    
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-5 offset-xl-2">
      <div class="slide-wrapper navbar-offset">
        <div class="slide" id="slide-2">
          <img class="img-fluid box-image" src="public/images/sm/lightbulb.png" />
          <h1 class="display-4 py-4 text-uppercase">Our Vision</h1>
          <p class="lead slide-text">
            Fostering sustainable lifestyles and resource independence using biomimetic engineering.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div id="slide-3" class="slide">
      <div class="slide-body p-3">
        <h1 class="display-4">Expand Your Horizons with NuLeaf&nbsp;Tech</h1>
        <p class="lead slide-text">
          Embracing life’s successes to integrate sustainability with economic growth and innovation in both industry and everyday life.
        </p>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div id="slide-4" class="slide d-flex flex-column">
      <div class="my-auto">
        <h1 class="slide-title">Our History</h1>
        <p class="slide-text lead">
          NuLeaf formed in July 2015 as an independent research group that encouraged students to share ideas and create projects. We became a start up in early 2017 when we realized our biomimetic approach and focus on sustainable manufacturing in renewable energy was unique and competitive in industry.
        </p>
      </div>
      <div class="mb-auto">
        <h1 class="slide-title">Current Status</h1>
        <p class="slide-text lead">
          We were recently accepted to an accelerator program which runs from April through July, 2017. Our goal is to continue improving our prototypes by connecting the artificial wetland and plant microbial fuel cell while reaching out to customers.
        </p>
      </div>
    </div>
  </div>
</div>