.slides {
  font-size: 1rem;
}
.slide {
  font-size: 1em;
}

.box-image {
  max-height: 200px;
}

#slide-container-1 { 
  color: #53a7a3;
}
#slide-container-1 > .slide {
  padding: 30px 15px;
}
#slide-container-1 .slide-title {
  font-size: 1.6em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
#slide-container-1 .slide-text {
  font-size: 1em;
  max-width: 27em;
}

#slide-3 {
  background: url('public/images/bg/lg/grass-town.jpg') center top no-repeat;
  background-size: cover;
  color: #fff;
}
#slide-3 .slide-body {
  padding: 15px;
  position: absolute;
}
#slide-3 .slide-title {
  font-size: 1.7em;
  max-width: 12em;
}
#slide-3 .slide-text {
  font-size: 1em;
  max-width: 24em;
}

#slide-4 {
  background: url('public/images/sm/leaf-fade.jpg') center center no-repeat;
  background-size: cover;
  padding: 15px;
}
#slide-4 .slide-title {
  color: #53a7a3;
  font-size: 1.6em;
}
#slide-4 .slide-text {
  font-size: 1em;
  max-width: 50em;
}

@media (min-width: 576px) and (max-width: 767px) {
  #slide-container-1 > .slide {
    padding: 20px 30px;
  }
  #slide-container-1 .slide-title {
    margin-top: 0;
  }
  .flex-align-middle-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .slide {
    font-size: 1.1em;
  }

  #slide-container-1 {
    padding: 90px 15px 50px 15px;
  }
  #slide-container-1 > .slide {
    padding: 0 15px;
  }

  #slide-3 > .slide-body {
    top: 8%;
    left: 20%;
  }

  #slide-4 {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .slide {
    font-size: 1.2em;
  }

  .box-image {
    max-height: 300px;
  }

  #slide-container-1 {
    padding: 90px 15px 50px 15px;
  }

  #slide-3 > .slide-body {
    top: 10%;
    left: 25%;
  }

  #slide-4 {
    padding: 60px;
  }
}

@media (min-width: 1600px) {
  #slide-1 {
    padding-left: 150px;
  }
  #slide-2 {
    padding-right: 150px;
  }

  #slide-3 > .slide-body {
    top: 20%;
    left: 35%;
  }
}
