<div class="container-fluid slides">
  <div class="row text-center" id="slide-container-1">
    <div class="col-md-6 slide" id="slide-1">
      <div class="row">
        <div class="col-sm-4 col-md-12">
          <img class="img-fluid box-image" src="public/images/sm/globe.png" />
        </div>
        <div class="col-sm-8 col-md-12 flex-align-middle-sm">
          <h1 class="slide-title font-weight-normal text-uppercase">Our Mission</h1>
          <div>
            <span class="d-inline-block slide-text text-center">
              Designing naturally integrated water and energy solutions that reclaim resources on site.    
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 slide" id="slide-2">
      <div class="row">
        <div class="col-sm-4 col-md-12">
          <img class="img-fluid box-image" src="public/images/sm/lightbulb.png" />
        </div>
        <div class="col-sm-8 col-md-12 flex-align-middle-sm">
          <h1 class="slide-title font-weight-normal text-uppercase">Our Vision</h1>
          <div>
            <span class="d-inline-block slide-text text-center">
              Fostering sustainable lifestyles and resource independence using biomimetic engineering.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nlMaximizeHeight class="row">
    <div id="slide-3" class="slide text-outlined">
      <div class="slide-body">
        <h1 class="slide-title font-weight-normal">Expand your Horizons with NuLeaf&nbsp;Tech</h1>
        <p class="slide-text">
          Embracing life’s successes to integrate sustainability with economic growth and innovation in both industry and everyday life.
        </p>
      </div>
    </div>
  </div>

  <div nlMaximizeHeight class="row">
    <div id="slide-4" class="slide d-flex flex-column justify-content-around align-items-center w-100">
      <div>
        <h1 class="slide-title font-weight-normal">Our History</h1>
        <p class="slide-text">
          NuLeaf formed in July 2015 as an independent research group that encouraged students to share ideas and create projects. We became a start up in early 2017 when we realized our biomimetic approach and focus on sustainable manufacturing in renewable energy was unique and competitive in industry.
        </p>
      </div>
      <div>
        <h1 class="slide-title font-weight-normal">Current Status</h1>
        <p class="slide-text">
          We were recently accepted to an accelerator program which runs from April through July, 2017. Our goal is to continue improving our prototypes by connecting the artificial wetland and plant microbial fuel cell while reaching out to customers.
        </p>
      </div>
    </div>
  </div>
</div>