<div class="container-fluid">
  <div id="slide-1" class="row">
    <div class="col-sm-6 box">
      <div>
        <img class="center-block img-responsive" src="public/images/sm/globe.png" />
      </div>
      <div class="text-center"><h2>Our Mission</h2></div>
      <div class="text-center">
        <p>
          Designing naturally integrated water and energy solutions that reclaim resources on site.    
        </p>
      </div>
    </div>

    <div class="col-sm-6 box">
      <div>
        <img class="center-block img-responsive" src="public/images/sm/lightbulb.png" />
      </div>
      <div class="text-center"><h2>Our Vision</h2></div>
      <div class="text-center">
        <p>
          Fostering sustainable lifestyles and resource independence using biomimetic engineering.
        </p>
      </div>
    </div>
  </div>

  <div id="slide-2" class="slide row">
    <div class="slide-body">
      <div class="title">
        <h1>Expand Your Horizons with NuLeaf Tech</h1>
      </div>
      <div class="text">
        Embracing life’s successes to integrate sustainability with economic growth and innovation in both industry and everyday life.
      </div>
    </div>
  </div>

  <div id="slide-3" class="slide row">
    <div>
      <h2>Our History</h2>
      <p>
        NuLeaf formed in July 2015 as an independent research group that encouraged students to share ideas and create projects. We became a start up in early 2017 when we realized our biomimetic approach and focus on sustainable manufacturing in renewable energy was unique and competitive in industry.
      </p>
    </div>
    <div class="spacer"></div>
    <div>
      <h2>Current Status</h2>
      <p>
        We were recently accepted to an accelerator program which runs from April through July, 2017. Our goal is to continue improving our prototypes by connecting the AW and PMFC while reaching out to customers.
      </p>
    </div>
  </div>
</div>