.box-image {
  max-height: 400px;
}

#slide-1,
#slide-2 {
  color: #53a7a3;
}
#slide-1 {
  padding-top: 5vh;
}

#slide-3 {
  background: url('public/images/bg/lg/grass-town.jpg') center top no-repeat;
  background-size: cover;
  color: #fff;
}
#slide-3 .slide-text {
  font-weight: 400 !important;
}

#slide-4 {
  background: url('public/images/sm/leaf-fade.jpg') center center no-repeat;
  background-size: cover;
  padding: 0 5%;
}
#slide-4 .slide-title {
  color: #53a7a3;
}
#slide-4 .slide-text {
  font-weight: 400;
}

@media (min-width: 576px) {
  #slide-3 > .slide-body {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #slide-1 .slide-text,
  #slide-2 .slide-text {
    margin: 0 auto;
    width: 70%;
  }

  #slide-3 > .slide-body {
    width: 100%;
  }
  #slide-3 .slide-text {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .box-image {
    height: 400px;
    width: auto;
  }

  #slide-1,
  #slide-2 {
    padding-top: 20vh;
  }
  #slide-1 .slide-text,
  #slide-2 .slide-text {
    width: 100%;
  }

  #slide-3 > .slide-body {
    padding-left: 20% !important;
    padding-top: 50px !important;
    width: 80%;
  }
  #slide-3 .slide-text {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  #slide-3 > .slide-body {
    width: 70%;
  }

  #slide-4 {
    padding: 0 10%;
  }
}

@media (min-width: 1600px) {
  #slide-1 {
    padding-left: 150px;
  }
  #slide-2 {
    padding-right: 150px;
  }

  #slide-3 > .slide-body {
    padding-left: 23% !important;
    padding-top: 20vh !important;
    width: 58%;
  }

  #slide-4 {
    padding: 0 15%;
  }
}
