<div class="navbar-fixed-top">
  <nav class="navbar navbar-default navbar-white navbar-clean">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-toggle-opaque collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand-wide">
          <a class="navbar-brand" href="#">
            <img src="/public/images/brand.png" alt="Nuleaf">
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-spread pull-right-sm text-uppercase text-center">
          <li routerLink="/"
              routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="hideSubnavbar()">
            <a>Home</a>
          </li>
          <li routerLink="/about"
              routerLinkActive="active"
              (click)="hideSubnavbar()">
            <a>About</a>
          </li>
          <li (click)="setLinks(eventLinks); toggleSubnavbar();"
              [class.active]="isShowingSubnavbar && sublinks == eventLinks">
            <a>Events</a>
          </li>
          <li routerLink="/blog"
              routerLinkActive="active"
             (click)="hideSubnavbar">
            <a>Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-subnavbar *ngIf="isShowingSubnavbar"
                [links]="sublinks"></ng-subnavbar>
</div>