<div class="container-fluid slides">
  <div nlMaximizeHeight class="row">
    <div class="slide text-outlined d-flex flex-column py-3 w-100" id="slide-1">
      <p class="slide-title">
        We turn wastewater into a resource for sustainably-conscious businesses.
      </p>
      <div class="align-self-center my-auto">
        <div class="slide-panel">
          <h2 class="slide-panel-title">What We Do</h2>
          <p class="slide-panel-text">
            We treat water contaminated by biological waste on site by mimicking ecosystem processes. We work with nature to create a functional garden that gives back to the community.
          </p>
          <p class="slide-panel-text">
            We specifically aim to work with small to midsized breweries and wineries and other agricultural producers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div nlMaximizeHeight class="row">
    <div class="slide text-outlined" id="slide-2">
      <p id="slide-2-title-1" class="slide-title">
        Promoting Resource Independence Through...
      </p>
      <p id="slide-2-text-1" class="slide-text">Wastewater Treatment</p>
      <p id="slide-2-text-2" class="slide-text">Energy Generation</p>
      <p id="slide-2-text-3" class="slide-text">Restorative Gardens</p>
    </div>
  </div>

  <div nlMaximizeHeight class="row">
    <div class="slide d-flex flex-column justify-content-around align-items-center text-outlined w-100" id="slide-3">
      <div class="slide-body">
        <h1 class="slide-title">Benefits of Our System</h1>
        <p class="slide-text">
          Our naturally integrated wastewater treatment costs less and is more ecologically friendly than traditional onsite wastewater treatment.
        </p>
        <p class="slide-text">
          We provide a tangible experience of sustainability to guests with tourable greenhouses, gardens, or wildlife habitat. 
        </p>
        <p class="slide-text">
          Unlike other biopower our system doesn’t use combustion and will create enough energy to run itself.
        </p>
        <p class="slide-text">
          Our technology takes advantage of relationships within a diverse ecosystem to create more energy and cleaner water.
        </p>
        <p class="slide-text">
          Our systems can be as large as a park or as small as a room and easily expand with your business.
        </p>
        <p class="slide-text">
          By combining established technologies that benefit from ecological processes, we use the interconnectedness of nature to make our devices work better together.
        </p>
      </div>
    </div>
  </div>

  <div nlMaximizeHeight class="row">
    <div class="slide text-outlined w-100 d-flex flex-column" id="slide-4">
      <div class="slide-panel mx-auto">
        <h1 class="slide-panel-title">How We Do It</h1>
        <hr ><span class="clearfix"></span>
        <h2 class="slide-title">Artificial Wetlands</h2>
        <p class="slide-panel-text">
          An artificial wetland (AW) is an engineered ecosystem that treats water with complex biological waste, including black or gray water. It is a park with a purpose that provides natural habitats, fertilizer, produce, and clean water.
        </p>

        <h2 class="slide-title">Plant Microbial Fuel Cell</h2>
        <p class="slide-panel-text">
          A plant microbial fuel cell (PMFC) uses wetland microbes to clean water with simple biological waste. The PMFC further cleans water from the artificial wetland. Energy is created through the microbe’s digestion of the waste.
        </p>
      </div>
    </div>
  </div>
</div>