<div class="container-fluid">
  <div class="slide-wrapper navbar-offset row">
    <div class="slide p-3 d-flex flex-column" id="slide-1">
      <p class="slide-text lead">
        We turn wastewater into a resource for sustainably-conscious businesses.
      </p>
      <div class="align-self-center my-auto slide-panel px-4 py-3 px-lg-5 py-lg-4">
        <h2 class="my-4">What We Do</h2>
        <p class="slide-panel-text">
          We treat water contaminated by biological waste on site by mimicking ecosystem processes. We work with nature to create a functional garden that gives back to the community.
        </p>
        <p class="slide-panel-text">
          We specifically aim to work with small to midsized breweries and wineries.  
        </p>
      </div>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide" id="slide-2">
      <p id="slide-2-text-1" class="lead">
        Promoting Resource Independence Through...
      </p>
      <p id="slide-2-text-2" class="lead">Wastewater Treatment</p>
      <p id="slide-2-text-3" class="lead">Energy Generation</p>
      <p id="slide-2-text-4" class="lead">Restorative Gardens</p>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide d-flex flex-column justify-content-around" id="slide-3">
      <h1>Benefits of Our System</h1>
      <p class="slide-text">
        Our naturally integrated wastewater treatment costs less and is more ecologically friendly than traditional onsite wastewater treatment.
      </p>
      <p class="slide-text">
        We provide a tangible experience of sustainability to guests with tourable greenhouses, gardens, or wildlife habitat. 
      </p>
      <p class="slide-text">
        Unlike other biopower our system doesn’t use combustion and will create enough energy to run itself.
      </p>
      <p class="slide-text">
        Our technology takes advantage of relationships within a diverse ecosystem to create more energy and cleaner water.
      </p>
      <p class="slide-text">
        Our systems can be as large as a park or as small as a room and easily expand with your business.
      </p>
      <p class="slide-text">
        By combining established technologies that benefit from ecological processes, we use the interconnectedness of nature to make our devices work better together.
      </p>
    </div>
  </div>

  <div class="slide-wrapper navbar-offset row">
    <div class="slide py-4 py-lg-5" id="slide-4">
      <div class="slide-panel px-4 py-3 px-lg-5 py-lg-4">
        <h1>How We Do It</h1>
        <hr ><span class="clearfix"></span>
        <h2>Artificial Wetlands</h2>
        <p class="slide-panel-text">
          An artificial wetland (AW) is an engineering ecosystem that treats water with complex biological waste, including black or gray water. It is a park with a purpose that provides natural habitats, fertilizer, produce, and clean water.
        </p>

        <h2>Plant Microbial Fuel Cell</h2>
        <p class="slide-panel-text">
          A plant microbial fuel cell (PMFC) uses wetland microbes to clean water with simple biological waste. The PMFC further cleans water from the artificial wetland. Energy is created through the microbe’s digestion of the waste.
        </p>
      </div>
    </div>
  </div>
</div>